

h1 {
  margin: 0 auto;
  display: table;
  color: cadetblue;
  font-family: 'Lobster', cursive;
  margin-top: 2em;
}

select {
  margin: 0 auto;
  display: table;
  margin-bottom: 2em;
  background-color: rgb(122, 179, 181);
  color: white;
  width: 20em;
  height: 3em;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

  input[type="submit"] {
  margin: 0 auto;
  display: table;
  margin-bottom: 2em;
  width: 10em;
  background-color: darkseagreen;
  color: white;
  padding: 1em;
  border-bottom: rgb(83, 207, 193);
  border-style: outset;
  font-family: 'Lobster', cursive;
  font-size: 15px;
}

input#content {
  margin: 0 auto;
  display: table;
  width: 500px;
  height: 74px;
  color: rgb(140, 163, 88);
  border-style: ridge;
  padding: 9px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

input#title {
  margin: 0 auto;
  display: table;
  border-style: ridge;
  width: 35.8em;
  padding: 9px;
  color: rgb(140, 163, 88);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.header {
  background-color: darkseagreen;
  height: 2em;
  margin-left: -12em;
  margin-right: -25px;
}



p {
  padding: 9px;
  color: rgb(173, 168, 168);
  margin-right: 2em;
  font-family: 'Raleway', sans-serif;
  border-bottom-style: groove;
  border-color: blanchedalmond;
}

.footer {
  height: 150px;
  background-color: rgb(225, 225, 225);
  margin-top: 3em;
  margin-left: -12em;
  margin-right: -12em;
}

.post-entry {
  list-style: square;
  margin-bottom: 3em;
  font-family: 'Raleway', sans-serif;
}


.forum {
  height: 600px;
  width: 779px;
  background-color: rgb(242, 236, 236);
  margin: 0 auto;
  display: table;
  border-style: outset;
  border-color: currentColor;
}
